@import "vars";
@import "fonts";
@import "libs";

html, body {
	height: 100%;
}

input::-webkit-input-placeholder {
 font-size: 14px !important;
 color: #302a31;
 text-transform: uppercase;
 font-family: $default-font;
 letter-spacing: 0.1em;
} 

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow: hidden;
	letter-spacing: 0.025em;
	color: #302a31;
	margin: 0;
	padding: 0;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h1, h2 {
	font-weight: bold;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
	text-align: center;
	&:after {
		content: '';
		width: 420px;
		height: 2px;
		background: $accent;
		display: block;
		margin: 0 auto;
		margin-top: 26px;
	}
}

p {
	margin: 0;
	padding: 0;
}

b, strong {
	font-weight: bold;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 

{
	overflow: visible;
  outline: none;
}

a, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

.d-flex {
	display: flex;
}

/*------HEADER-------*/

.wrap-navigation {
	padding: 14px 0;
	border-bottom: solid 1px #eceaed;
	margin-bottom: 10px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__humburger {
	vertical-align: middle;
	position: relative;
	height: 22px;
	align-items: center;
	border: none;
	background: transparent;
	cursor: pointer;
}


.menu__list {
	display: flex;
}

.wrap-mob {
	align-items: center;
	display: none;
}

.menu__humburger {
	i {
		font-size: 30px;
		color: #302a31;
	}
}

.services__humburger {
	display: none;
	i {
		color: #fff;
		font-size: 30px;
	}
}

.logo__menu-mob {
	width: 120px;
	margin-right: 10px;
	img {
		width: 100%;
	}
}

.menu__item {
	margin-right: 50px;
	&:last-child {
		margin-right: 0;
	}
	span {
	  width: 15px;
	  height: 15px;
	  background: #c1a067;
	  color: #fff;
	  border-radius: 50%;
	  display: block;
	  font-size: 10px;
	  margin-top: -4px;
	  align-items: center;
	  display: flex;
	  justify-content: center;
	}
}

.menu__item_account {
	margin-right: 87px;
	position: relative;
	&:after {
		content: '';
    height: 52px;
    width: 1px;
    position: absolute;
    background: #eceaed;
    top: -17px;
    right: -40px;
	}
	&:before {
		content: '';
    height: 52px;
    width: 1px;
    position: absolute;
    background: #eceaed;
    top: -17px;
    left: -40px;
	}
}

.menu__link {
	color: #302a31;
	transition: all 0.3s ease;
	font-size: 13px;
	&:hover {
		color: #c1a067;
	}
}

/*------HEADER MAIN-------*/

.wrap-main {
	margin-bottom: 18px;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.contact {
	width: 800px;
}

form {
	position: relative;
	border-bottom: solid 2px #c1a067;
	display: flex;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

input {
	width: 100%;
	border: none;
}

.btn {
	border: none;
	background: transparent;
	&:before {
		content: "\f002";
		font-family: FontAwesome;
		font-size: 20px;
		color: #c1a067;
		cursor: pointer;
	}
}

.contact__list {
	display: flex;
	justify-content: space-between;
}



.contact__link {
	color: #302a31;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	i {
		color: #c1a067;
		margin-right: 15px;
	}
}

.basket {
  position: relative;
  height: 84px;
  width: 90px;
  background: #c1a067;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
	img {
		width: 30px;
		height: 40px;
	}
	span {
		position: absolute;
		top: 11px;
		right: 9px;
		color: #fff;
		font-weight: 700;
		font-size: 10px;
	}
}

/*------HEADER SERVICES-------*/

.wrap-services {
	background: linear-gradient(to right, #302a31 50%, #c16774 50%);
	.container {
		background: linear-gradient(to right, #302a31 92%, #c16774 8%);
	}
}

.services {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}

.services__link {
	color: #fff;
	font-size: 16px;
}

.services__link_sale {
	text-transform: uppercase;
	padding-right: 0;
}

@import "media";
